{% extends 'layout.html' %}

{% block content %}
<h2>Tacos</h2>
    {% if taco.count() %}
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Protein</th>
              <th>Shell</th>
              <th>Extras</th>
              <th>Cheese</th>
            </tr>
          </thead>
          <tbody>
              {% for taco in taco %}
            <tr>
              <!-- taco attributes here -->
              <td>{{ taco.protein }}</td>
              <td>{{ taco.shell }}</td>
              <td>{{ taco.extras }}</td>
              <td>{{ taco.cheese }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>Sorry, no Tacos here yet :(</p>
    {% endif %}
{% endblock %}